{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-use-before-define": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "import/prefer-default-export": "warn",
    "no-console": "warn",
    "no-duplicate-imports": "error",
    "no-unused-vars": "warn",
    "no-return-assign": "off",
    "no-plusplus": "warn",
    "no-param-reassign": "off",
    "prefer-const": "warn",
    "object-shorthand": "off",
    "spaced-comment": "warn"
  }
}
